header {
    width: 100%;
    align-items: center;
    color: white;
}

.menu-list {
    font-weight: 700;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    padding: 0;
}

a, a:visited {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.menu-list a:hover {
    border-bottom: solid 5px #F57234;
    padding-bottom: 8px;
    cursor: pointer;
    text-decoration: none;
}

.menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background: rgba(0, 0, 0, 0.61);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    height: 80px;
}

/* //TODO: rever isso aqui */
@media only screen and (max-width: 900px) {
    .menu-header {
        align-items: center;
    }
}